Hi <%= @user.name %>,

<%= @group.leader.full_name %> has invited you to join their group! You can accept or reject their invitation by visiting the following page: <%= group_url(@group, host: @college.host) %>.

Sincerely,
<%= @college.dean %>
